* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.loading {
  display: inline-block;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255,255,255,.9);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
h1 {
  letter-spacing: 5px;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.Books {
  margin-top: 50px;
  margin-left: auto; 
  margin-right: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 60%;
}
.Books div:nth-child(odd) {
  background-color: rgb(190, 190, 190);
}
.Books div:nth-child(even){
  background-color: rgb(223, 223, 223);
}

input {
  width: 60%;
  outline: none;
  padding: 10px;
  font-size: 36px;
  border-top: none; 
  border-left: none; 
  border-right: none; 
  border-bottom: 1px solid #eee;
  color: rgb(116, 116, 116);
  

}